.menu--range {
  direction: rtl;
  vertical-align: top;
  -webkit-appearance: none;
  width: 10%;
  margin: 13.8px 0;
}
.menu--range:focus {
  outline: none;
}
.menu--range::-webkit-slider-runnable-track {
  width: 10%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 11.3px;
  border: 0.2px solid #010101;
}
.menu--range::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 16px;
  border-radius: 13px;
  background: #00ff00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.menu--range:focus::-webkit-slider-runnable-track {
  background: #fff;
}
.menu--range::-moz-range-track {
  width: 10%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 11.3px;
  border: 0.2px solid #010101;
}
.menu--range::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
}
.menu--range::-ms-track {
  width: 10%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.menu--range::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 12.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.menu--range::-ms-fill-upper {
  background: #fff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.menu--range::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
.menu--range:focus::-ms-fill-lower {
  background: #fff;
}
.menu--range:focus::-ms-fill-upper {
  background: #367ebd;
}
